# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.flutter-plugins
generated_plugin_registrant.dart

# IntelliJ related
*.iml
.idea/

# VS Code related
.vscode/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Podfile.lock
ios/Pods/

# Android
.android/

# Others
*.log
